* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: white;
  font-family: "Segoe UI", "Sans-Serif";
}

html, body {
  height: 100%;
  background: #211832;
}

body {
  display: flex;
  flex-direction: column;
}

img {
  pointer-events: none;
  -webkit-touch-callout: none;
}

button, a {
  transition: all 0.2s ease-out;
}

button:hover, a:hover {
  box-shadow: 2px 2px black;
}

header {
  background: #5C3E94;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.2rem;
  padding-right: 0.7rem;
  margin-bottom: 1rem;
}

#header-title {
  display: flex;
  flex-flow: row;
  gap: 0.4rem;
}

#logo {
  width: 3rem;
  height: 3rem;
  object-fit: contain;
  align-self: center;
}

#header-title div {
  align-self: center;
}

#header-title div p {
  font-size: 1rem;
}

#header-title div h1 {
  font-size: 1.3rem;
}

a {
  border: 2px solid #F25912;
  padding: 0.4rem 1rem;
  background: #412B6B;
  border-radius: 4px;
}

main {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex: 1;
}

section {
  background: rgba(238,238,238, 1);
  width: 85%;
  padding: 1rem;
  border-radius: 4px;
}

section h1 {
  color: black;
  font-size: 1.6rem;
  margin-bottom: 0.6rem;
}

label {
  color: black;
  font-size: 1rem;
}

.control-buttons {
  margin-top: 0.2rem;
  display: flex;
  align-items: center;
}

button {
  font-size: 1.3rem;
  border: none;
  padding: 0.2rem 0.6rem;
  background: #069b06;
  border-radius: 4px;
  flex-grow: 1;
}

#active-tasks, #completed-tasks {
  margin-top: 0.5rem;
  border: 2px solid black;
  border-radius: 4px;
  min-height: 150px;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

#info-container {
  margin-top: 0.5rem;
}

#search, #form-taskName, #form-taskDescription {
  width: 100%;
  border: 2px solid black;
  color: black;
  outline: none;
  background: none;
  padding: 0.4rem;
  box-sizing: border-box;
}

#form-taskName {
  margin-bottom: 0.6rem;
}

footer {
  margin-top: 1rem;
  padding: 1rem;
  text-align: center;
  background: #5C3E94;
}

.task {
  padding: 1rem;
  border-bottom: 4px solid #5C3E94;
}

.task h2, .task p {
  color: black;
}

.task-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  margin: 0.2rem;
}

.complete-task {
  flex-grow: 2;
}

.remove-task {
  flex-grow: 1;
  background: #ff3b3b;
}

#reset-task {
  background: #ff3b3b;
}

input, textarea {
  border-radius: 4px;
}